.flip-exit {
  transform: rotateY(360deg);
}

.flip-exit-active {
  transform: rotateY(0deg);
  transition: transform 400ms;
}

.flip-exit-done {
  transform: rotateY(0deg);
}

.flip-enter {
  transform: rotateY(360deg);
}

.flip-enter-active {
  transform: rotateY(0deg);
  transition: transform 400ms;
}

.flip-enter-done {
  transform: rotateY(0deg);
}